/*
  ========================================
  GENERAL
  ========================================
*/

body {
  background-color: #000;
}

.main {
  background-color: #fff;
  margin-top: 100px;
  padding-left: 100px;
  min-width: 1200px;
  height: 500px;
}


/*
  ========================================
  RYU
  ========================================
*/

.ryu-still,
.ryu-ready,
.ryu-throwing {
  width: 659px;
  height: 494px;
}

.ryu-still,
.ryu-ready,
.ryu-throwing,
.hadouken {
  background-repeat: no-repeat;
}

.ryu {
  float: left;
}

.ryu-ready,
.ryu-throwing {
  display: none;
}

.ryu-still {
  background-image: url('../img/ryu-still.png');
}

.ryu-ready {
  background-image: url('../img/ryu-ready.gif');
}

.ryu-throwing {
  background-image: url('../img/ryu-throwing.png');
}


/*
  ========================================
  HADOUKEN
  ========================================
*/

.hadouken {
  background-image: url('../img/hadouken.gif');
  width: 156px;
  height: 90px;
  display: none;
  position: relative;
  top: 167px;
  left: -212px;
  float: left;
}

